[2016-01-13 22:51] amritbhanu opened #1 "Bus data"
http://www.wakegov.com/gis/services/Pages/data.aspx

ftp://wakeftp.co.wake.nc.us/gis/Webdownloads/METADATA

http://www.raleighnc.gov/home/content/ITechAdmin/Articles/GISDataServices.html

Not sure whether these data sources can be put to use.

[2016-01-13 22:55] amritbhanu opened #2 "Text Editor / VIM"
Source code of VIM text editor:

https://github.com/vim/vim

[2016-01-14 21:47] jerry-shijieli opened #3 "Issue Demo"
Test Issue

[2016-01-14 21:52] jerry-shijieli commented on #3
fixed
#1

[2016-01-26 23:01] jerry-shijieli opened #4 "literature review"
## Original Paper: http://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1217&context=cs_faculty_pubs
## since 2015:
- Improving Automated Email Tagging with Implicit Feedback (Amrit)
- A New Algorithm to Categorize E-mail Messages to Folders with Social Networks Analysis (Di)
- Alecsa: Attentive Learning for Email Categorization using Structural Aspects (Zhe)
- Adaptive Ant Colony Decision Fo

[2016-01-27 00:38] jerry-shijieli commented on #4
Methods for mining and summarizing text conversations(Shijie)
This is a book, not a paper. Let me read the following paper instead:
- Intelligent Email: Aiding Users with AI (Shijie)

[2016-01-28 03:00] azhe825 commented on #4
## Alecsa: Attentive Learning for Email Categorization using Structural Aspects
- Decision Fusion (different models to predict different type of folders, then combine the prediction together)
- attentive learning (3 type of folders: content-aware, time-aware, participant-aware)
- has a lot of related work description
- performance metric: average accuracy
- Data source: Use the following in bash:

[2016-01-28 03:15] azhe825 commented on #4
## BuzzTrack: topic detection and tracking in email
- Clustering (unsupervised learning)
- Labeling after clustering by using most common words in the subjects
- Introduction is useful, describes why we need to regroup inbox, why we don't want to manually group it...
- TDT evaluation: New Topic detection and topic tracking.
- Performance metric: precision, recall, FP, FN, TP. FP and FN forms a DET

[2016-01-28 04:29] dichen001 commented on #4
## Automatic Categorization of Email into Folders: Benchmark Experiments on Enron and SRI Corpora

### Useful notes for our proposal
- Email folders do not necessarily correspond to simple semantic topics
- They correspond to unfinished todo tasks, project groups, certain recipients, or loose agglomerations of topics.
- Users tend to folder some messages by sender, some by event, some by date and

[2016-01-28 04:48] dichen001 commented on #4
Changed the paper from **Adaptive regularization of weight vectors** to  **Summarizing spoken and written conversations**.

[2016-01-28 04:57] jerry-shijieli commented on #4
## Intelligent Email: Aiding Users with AI

### Data Source:

Enron data set

### Summary:

The authors take a user-oriented approach to apply AI to the email classifications. The classifications focus on three tasks: summary keyword generation, email reply prediction and attachment prediction.

### Methods:
- For the summary keyword generation, unsupervised approach based on latent concept models

[2016-01-28 19:17] dichen001 commented on #4
## A New Algorithm to Categorize E-mail Messages to Folders with Social Networks Analysis
- They improve the accuracy with which emails are assigned to folders.
- Ant Colony Optimization (ACO) algorithms and Social Networks Analysis (SNA) are used.
- Also use the Enron Email dataset.
- Final results show their algorithm almost outperform all the algorithms in accuracy.

[2016-01-28 20:36] jerry-shijieli commented on #4
# Adaptive Ant Colony Decision Forest in Automatic Categorization of Emails

### Data source:

Enron Email Dataset

### Methods:

The authors transform the email dataset into a decision table using the Ant Colony Decision Forest(ACDF algorithm which is an Ensemble classifier based on the Ant Colony Decision Trees. Each splitting rule of the the decision trees is performed independently for differe

[2016-01-28 20:45] dichen001 commented on #4
## Summarizing Spoken and Written Conversations
- Not THAT related to our topic.
- Take extractice approach to summarization.
- For all ML experiments, utilize logistic regression classifiers.
- Use conversational features in a ML sentence classfication framework.
- Evaluation metrics: pyramid precision and weighted f-score.
- Data:
  - For the email summarization, it is on the Enron corpus.
  - F

[2016-01-28 21:06] amritbhanu commented on #4
## Improving Automated Email Tagging with Implicit Feedback

(A really great paper for our application)

### Data Source
- They created the datasets on their own by collecting through various web sources. No link provided.

### Motivation
- Unprioritized mails
- Manual organization of emails

### Current Application
- Gmail organize mails using combination of some rules.
- An **Email Predictor 2**

[2016-01-28 21:14] amritbhanu commented on #4
## Generating summary keywords for emails using topics

## Dataset
- Enron

## Methods
- Unsupervised learning
  - LSA doc query
  - LSA word association
  - LDA doc query
  - LDA word association

## Application
- Recipient Prediction
- Automated Foldering

## Results
- LDA doc out performs all others as well as TF-IDF
- Evaluating parameter was Precision and accuracy

## Future Work
- Working wi

[2016-01-28 23:14] amritbhanu opened #5 "PUTGS"
the pattern (P) of errors for user group "U" using some software tool "T" to achieve some goal "G" and its solutions (S).

[2016-01-29 14:31] azhe825 commented on #5
- P: not all email folders are content-aware. Other types are time-aware like Machine Learning Course _ Spring 2014, and participant-aware like adviser. Use one single feature set or one single model to classify a mixture of these three types of emails can be misleading. **Supported by Alecsa: Attentive Learning for Email Categorization using Structural Aspects**
- U: especially for email users wh

[2016-01-29 14:39] azhe825 commented on #5
- P: users do not want to make to much effort on providing training set. Can only require dozens of examples in each folder. **Literature Review Required**
- U: especially for email users who receive hundreds of emails everyday. (for our project)
- T: email client, perhaps with some plugins.
- G: automatically classify incoming emails into different folders predefined by users.
- S: 1. incremental

[2016-01-29 16:27] jerry-shijieli commented on #5
# PUTGS

### P:

Email categorizations depends on specific user behaviors, while not all users will provide explicit feedback to the correctness of email labels.

### U:

For users who receive huge amount of emails daily in vastly diverse topics. And not all of those emails are necessary to read in details or make a reply.

### T:
- Email client receiving real-time email streams.
- Plugins to moni

[2016-01-29 16:57] dichen001 commented on #5
From the [project page](http://se16.unbox.org/project/feb1.md).

## P: Problem
1. Email users have the tendency to tag their emails into different tags according to the functional differences of emails, such as Urgent, Importan, To-Do, Reminder, Data, Work, Private, ect.
2. However, they don't usually follow a strict pattern or logic for tagging their emails.
3. Their tagging logi may vary as time

[2016-01-29 18:59] dichen001 opened #6 "Report Requirement"
Copied from Tim's answer from Piazza.

[2016-01-29 19:43] azhe825 commented on #5
@dichen001 The problem and solution you describe here should not be in the scale of whole project. Right now you are describing the general problem and the general solution. Just specific one problem that we have not seen yet.

[2016-01-29 20:12] azhe825 commented on #5
- P: users definitely do not want to miss one single import email. Recall values more than precision. **Literature Review Required**
- U: especially for email users who receive hundreds of emails everyday. (for our project)
- T: email client, perhaps with some plugins.
- G: automatically classify incoming emails into different folders predefined by users.
- S: 1. on classifiers, we can address mor

[2016-01-29 23:30] amritbhanu commented on #5
- P: Many of the user events are not captured properly when using an email system, which can provide good amount of information about those emails. Supported by - **Improving Automated Email Tagging with Implicit Feedback**
- U: Email users whose mailboxes are flooded with unimportant and important mails (for our project).
- T: Plugin like EP2 for MS OUTLOOK
- G: Make use of these implicit feedbac

[2016-01-29 23:40] amritbhanu commented on #6
Everyone please select 1 problem which either you have posted or by anyone of us. **Mention the topic here so that others can choose other ones**. And be ready with 1 page description on the whole of PUTGS by tomorrow. So, that we can start merging them. You are more than welcome to write on some extra problems if you want. As right now we have 5 problems and may be more coming our way.

[2016-01-29 23:40] amritbhanu commented on #6
I am taking my problem of **Many of the user events are not captured properly when using an email system, which can provide good amount of information about those emails**

[2016-01-30 00:42] azhe825 commented on #6
Will take all the three topics of mine if no one else took from them

[2016-01-30 04:22] dichen001 commented on #5
I will take this one. :smile:
- P: Most of the email user have the need to categorize their emails into different folders. However, nearly all the email services only offer passive folder-categorization, which means they only put emails into folders when users think of doing this. Besides, none of the exisiting email systems offer the automatic categorization function.
- U: Email heavy users.
- T:

[2016-01-30 04:29] azhe825 commented on #5
It is the whole service our project provides, you need to state a problem that we may face in order to achieve this goal. In a word, you need to change to another topic. The one you just describe will go into the introduction part of our report.

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-01-30 05:37] dichen001 commented on #5
The **Problem** is existing service is passive categorization.
The **Goal** is to make it active, automatic and smart.
The **Solution** is to categorize every email by default, and actively ask them for feedback.  The implementation is to add an interface level interaction with the user, so that we can put their email into the right folder. My focus here is the new interaction with user for email

[2016-01-30 06:25] dichen001 opened #7 "Simple Interface Demo"
![image](https://cloud.githubusercontent.com/assets/15117843/12694127/4ce0bcf4-c6f0-11e5-8e13-49d214c9c59a.png)

[2016-01-30 18:55] jerry-shijieli commented on #6
I am focusing on the problem of **email feature extraction** process. Since nowadays, emails are not simply expressed in texts but instead involves lots of multi-media stuff(such as HTML and pictures) which are supported by the MIME format standards. Most research just throw away these infos which might be important for the accuracy of categorization. However, we won't use the multi-media directly

[2016-01-30 21:29] jerry-shijieli commented on #4
Just checked the Enron email data set source:
http://www.cs.cmu.edu/~enron/
But the size is not 423MB, it is actually 1.82GB in *.tgz or 2.72GB after decompressing.

[2016-01-30 21:42] amritbhanu commented on #4
Jerry can you open it and check how are the folders organised? With recipients name - label -emails

[2016-01-30 21:49] jerry-shijieli commented on #4
Yes, here are some screenshots of the folders and original email file.

![screen shot 2016-01-30 at 4 43 12 pm](https://cloud.githubusercontent.com/assets/7918460/12698670/f711edbc-c770-11e5-98ec-f96bcf165e92.png)

![screen shot 2016-01-30 at 4 43 48 pm](https://cloud.githubusercontent.com/assets/7918460/12698671/004b43e2-c771-11e5-9381-77d72ce7f215.png)

![screen shot 2016-01-30 at 4 44 23 pm](ht

[2016-02-01 16:09] timm opened #8 "feedback, no grade (yet)"
&lt;facetious>
Hmmm...  I wonder wonder wonder where you got all those text mining ideas from?
Can't really imagine...
&lt;/facetious>

Project delivers on the required content.  And does so before the deadline: well done!

Please carry on along this path. I look forward to seeing the results of this project.

Technical comment:
- I wonder... what is the overlap of real mailboxes to the clusters f

[2016-02-02 02:37] azhe825 commented on #8
- We will NOT use unsupervised learning method since we want to provide users more flexibility. Users can create email folders with any arbitrary name they like. Classifier will be trained especially for this user with his or her folder set. Initially, dozens of emails will be required to put into each email folder as the training examples. The initial classifier can perform poorly due to the lack

[2016-02-02 02:56] amritbhanu commented on #8
- On the overlap, the automatic methods to find clusters/categories, doesn't give users much flexibility. They have to set specific rules in advanced section of mailboxes such as Gmail to do that.

[2016-02-04 22:31] amritbhanu opened #9 "Preprocessing and basic solution"
This preprocessed data will be our training set for other solutions.
Enron dataset

[2016-02-04 22:39] amritbhanu opened #10 "Unsupervised learning for feature generation"
Test different models.
Use Jerrys simple supervised learning using these features

[2016-02-04 22:41] amritbhanu opened #11 "Semi - Supervised learning"
Use user feedback to improve the supervised learning

[2016-02-04 22:42] amritbhanu opened #12 "Supervised learning"
Different models to do supervised learning.

[2016-02-04 23:05] azhe825 commented on #9
Sample code for preprocessing:

https://github.com/ai-se/e-disc/blob/master/Datasets/Preprocess.py

https://github.com/ai-se/e-disc/blob/master/Datasets/formatData.py

https://github.com/ai-se/e-disc/blob/master/Zhe/winter/test_pre.py

[2016-02-04 23:11] amritbhanu commented on #9
Zhe, other people wont be able to access them as it is a private repo.
On Feb 4, 2016 6:06 PM, "Zhe Yu" notifications@github.com wrote:

[2016-02-04 23:40] azhe825 commented on #9
Only for Jerry

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-02-05 15:44] #3 closed, assigned to jerry-shijieli

[2016-02-15 06:07] jerry-shijieli commented on #9
I have uploaded my code for parsing each email into one-line entry with the seven largest email user data. The problem is that so far I could not save each data in each user's folder. I am continue working on this. But you can start to use it now. The _emailParserX.py_ is the latest version. The preprocessed data entry is in the following format:

User/Category  ::::::>>>>>>  words of subject + bo

[2016-02-16 20:06] azhe825 opened #13 "semi-supervised learning without data"
No testing

[2016-02-16 20:07] azhe825 opened #14 "semi-supervised learning testing"
Need data sets

[2016-02-16 20:08] azhe825 opened #15 "Baseline solution"
@imaginationsuper @amritbhanu @dichen001
What is the baseline solution (supervised learning classifier)? K-NN? Naive Bayse? or SVM?

[2016-02-16 20:15] amritbhanu commented on #15
Baseline should be supervised learning, with either of the learners. I think different classifiers will better the different performance metrics.

[2016-02-16 21:15] azhe825 commented on #15
I will use both K-NN and SVM since the implementation of semi-supervised learning for these two can be different.

[2016-02-17 00:42] #6 closed, assigned to nobody

[2016-02-17 00:42] #5 closed, assigned to nobody

[2016-02-17 00:43] #4 closed, assigned to nobody

[2016-02-17 00:43] #1 closed, assigned to nobody

[2016-02-17 00:43] #2 closed, assigned to nobody

[2016-02-17 00:44] #8 closed, assigned to nobody

[2016-02-17 00:46] jerry-shijieli commented on #15
I remember the baseline is simply using the preprocessed feature data as the bag-of-word and annotate the email with existing labels. Is that what we discuss before?

[2016-02-17 00:49] azhe825 commented on #15
After that, choose a classifier to finish all the process. Your result will act as the baseline result, for us to compare with.

[2016-02-22 17:00] dichen001 commented on #9
@imaginationsuper  Just found that there is no delimiter between the subject and the body.
e.g.

the subject is **Group Expenses**
the content is **Guys, attached ...**

Also, could we only keep the most related folder name, i.e. **2001_plan** instead of **/beck-s/2001_plan**, as the category?

[2016-02-22 17:08] jerry-shijieli commented on #9
Yes, there are bugs in my code. You can parse and separate the user folder from the most related folder by the '/' character. I will also fix the delimiter after subject. Thanks! @dichen001

[2016-02-22 20:26] dichen001 opened #16 "Let's choose SVM as the baseline."
Every one of us can try as many methods as you want. We can choose SVM as the baseline for easy comparison with each other.

[2016-02-22 21:18] dichen001 opened #17 "Weight Metric: tf-idf?"
Shall we choose Tf-idf as the standard weighting metric for our classfiers.
[Tf-idf from scikit learn.](http://scikit-learn.org/stable/modules/feature_extraction.html#tfidf-term-weighting)

[2016-02-22 23:32] azhe825 commented on #17
Recommend term frequency as feature, hashing trick for feature selection

[2016-02-22 23:35] azhe825 opened #18 "Data sets ready?"
Do we already have a cleaned and well-structured data set?

[2016-02-23 00:14] jerry-shijieli commented on #18
For the cleaned data, does that mean remove all the all_document folders and any folder that has less than 10 emails?

[2016-02-23 00:16] jerry-shijieli commented on #18
What kind of structured data does the testing method need? We only have words from subject and body.

[2016-02-23 01:52] azhe825 commented on #18
several txt or csv files, each contains emails received by one person.
Inside each txt, each line is one email (subject+body, labeled as the folder name, separate label with content by some unique symbol).

Yes, remove folders that has less than 10 emails.

[2016-02-23 17:01] azhe825 opened #19 "About Supervised Classifiers"
@dichen001 Is that possible for you to include convolutional neural network as one of the classifier?

Deep learning is quite hot now in text mining.

[2016-02-23 17:41] dichen001 commented on #19
Sure. I will give it a try.

[2016-02-24 01:51] azhe825 opened #20 "We need a small demo on March 1st?"
https://piazza.com/class?cid=il02b2rid9j368&nid=iizdroc9bwn7b1&token=ScZFPXFgtim

Also need to decide a time for presentation. 10:00 Friday, March 4th ok for everyone?

[2016-02-24 01:54] jerry-shijieli commented on #20
I am fine with the time and will reorganize my code tomorrow.

[2016-02-24 01:59] amritbhanu commented on #20
That time works for me

[2016-02-24 02:27] dichen001 commented on #20
Work fine for me.

Sent with MailTrack
https://mailtrack.io/install?source=signature&lang=en&referral=dchen20@ncsu.edu&idSignature=22

On Tue, Feb 23, 2016 at 8:59 PM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-02-24 02:40] dichen001 opened #21 "Code to transform the pre-processed data into numeric metrics (i.e. TF as we have discussed before)."
@azhe825 Do you have the code in your previous project for doing this task?  Can you provide it to @imaginationsuper?

[2016-02-24 03:21] azhe825 commented on #21
Yes, done that before.
Also, feature hashing from scikit learn is another good option: http://scikit-learn.org/stable/modules/feature_extraction.html

[2016-02-24 03:22] azhe825 commented on #20
Registered 10:00 am Friday.

[2016-02-24 19:00] azhe825 commented on #9
https://github.com/ai-se/e-disc/blob/master/Zhe/02-24/src/topics.py

[2016-02-25 17:53] jerry-shijieli commented on #9
Hi Guys,

I updated the emailParserX.py code, which is used to collect all the email in the root folder and reorganize the email structure into the following format, in which (I suppose) each email takes one line:

/user_folder/category_folder/ ::::::>>>>>> email_subject_words *****\* email_body_words

I will perform word vector conversion using these data in another code script, which is still ne

[2016-02-25 18:30] dichen001 opened #23 "Should we ignore the "all_documents","_sent_mail" folders?"
hi @imaginationsuper , I noticed you ignore these two folders in dataConvertion.py but not in emailParseX.py
Isn't it more consistent to ignore them? Besides, they are not useful for our labeling task.

[2016-02-25 18:34] dichen001 commented on #23
Oh just realize there is no consistency issue with this issue, but ignoring these two folder should boost up the pre-processing.

[2016-02-26 17:35] amritbhanu opened #24 "Preprocessed Data"
@imaginationsuper Can you please remove the extra whitespaces (just keep 1 whitespace) from the dataset.txt file? So that it is easier to extract by our code.

[2016-02-26 17:45] amritbhanu commented on #24
This code will do the job.

[code]

[2016-02-26 17:50] jerry-shijieli commented on #24
Code updated. Use emailParserX.py to get dataset.txt and dataConversionF.py to convert to word vectors.

[2016-02-26 17:53] jerry-shijieli commented on #24
The 'L' letter in wordVectors.txt means long int data type, which is produced by the scikit-learn tokenizer

[2016-02-26 19:25] dichen001 opened #25 "Vector too long?"
Hi guys,
totally, we have 11208 lines of email, but each line has a word vector size of 16001.
Should we choose a smaller size by use hashmatching or similar dimension-reduction techniques?

[code]

[2016-02-26 19:51] dichen001 opened #26 "Alternate featurization methed: word vector?"
When email represented as 3 words, can we map each word into a constant dimensionality of word vector. This way, each word will be uniquely identified.

[code]

@imaginationsuper  What's the word vector API you have talked before? Can we use that?

[2016-02-26 19:57] jerry-shijieli commented on #26
This binary representation is still a sparse matrix(vector). To improve this, you can use the **gensim word2vec** to do this job. It uses a neural network to train the word and express each word using some weight factors.

[2016-02-26 20:00] amritbhanu commented on #26
as I discussed with Jack about this method, jerry can we used this method to do the featurization? gensim can support this?

@azhe825 but even if we can represent the features in the above manner, can we use our scikit learner api to accept these as features?

[2016-02-26 20:17] jerry-shijieli commented on #26
API and demos of gensim word2vec:
https://radimrehurek.com/gensim/models/word2vec.html

[2016-02-26 21:03] dichen001 opened #27 "Let's only take 10 emails per folder as our training data set."
Suggested by @azhe825.
See how it works. May change later.

[2016-02-27 19:29] azhe825 opened #28 "Cleaned data"
See folder Cleaned_Data

remove all content-unrelated folders

each folder will have at least 20 examples.

[2016-02-27 21:49] azhe825 opened #29 "Simple framework"
See func.py and test.py
Try to put your functions into func.py and run test.py for testing, result collection

How to run test.py:

[code]

For example:

[code]

[2016-02-28 14:27] #13 closed, assigned to azhe825

[2016-02-28 14:29] #11 closed, assigned to azhe825

[2016-02-28 20:32] dichen001 opened #30 "Word Vector performs badly when training set is only 10 emails...."

[2016-02-28 20:57] azhe825 commented on #30
Can u train on some knowledge base like google news, Wikipedia?

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-02-29 03:02] dichen001 commented on #30
already tried that at [this commit](https://github.com/azhe825/CSC510/commit/2230b9fb1fa1b56381ae911d3ffeddf9fb0be7d1)
use a pre-trained model by Google news using 100 billion words. doesn't help much.

[2016-02-29 03:04] dichen001 commented on #30
I believe this is because simply add the word vector is not the right way.  One possible solution can be found in this [paper](http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7363382)

No time to try for this due. Maybe later.

[2016-02-29 06:03] dichen001 opened #31 "Supervised Classification: #1:SVM #2:KNN(k=10) #3:DT finished."
tested k = 5,10,15,20.   best when k = 10

[2016-02-29 18:48] amritbhanu opened #32 "Unsupervised Learning"
## Results with top 100 topics

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda/lda_SVM_100.png?raw=true)
## Results with top 50 topics

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda/lda_SVM_50.png?raw=true)
## Results with top 20 topics

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda/lda_SVM_20.png?raw=true)

[2016-02-29 18:49] amritbhanu commented on #32
Any more results needed to add onto this?

[2016-02-29 19:33] azhe825 commented on #31
Readable results on all datasets?

[2016-02-29 19:34] azhe825 commented on #32
How is the F score calculated here?

Why do we have some 0 median on some data sets?

[2016-02-29 19:36] azhe825 opened #33 "Performance Metrics"
F_M: 2_mean(Precision)_mean(Recall)/(mean(Precision)+mean(Recall))

mean(Precision) is the average precision on every target classes

function: evaluate() in func.py can be used for the calculation

[2016-02-29 19:41] dichen001 commented on #31
No. You have to use the load() in function.py to load the data.

Sent from my iPhone

[2016-02-29 19:44] amritbhanu commented on #32
After doing the unsupervised learning, I get the words based on the top n topics. These words will form the basis of new corpus. Then a specific target label is chosen (positive label), and the rest is chosen as (negative label). I believe that specific label is a problem.

[2016-02-29 19:49] azhe825 commented on #32
Can u do it for a multi-classification form?  Just feed all the data and labels to the classifier.
U can use the evaluate function in func.py to calculate F_M score.

[2016-02-29 19:52] azhe825 commented on #31
Can you make some figures showing the result, see #32

Use F_M for the performance. See #33

Run on all data sets if possible.

[2016-03-01 19:35] dichen001 commented on #31
# KNN:

![KNN](https://raw.githubusercontent.com/azhe825/CSC510/master/Results/semi_KNN_.png)

# DT

![MNB](https://raw.githubusercontent.com/azhe825/CSC510/master/Results/semi_DT_.png)

# SVM

![SVM](https://raw.githubusercontent.com/azhe825/CSC510/master/Results/semi_SVM_.png)

# Summery

![Summery](https://raw.githubusercontent.com/azhe825/CSC510/master/Results/semi_classifier.png)

![sum](http

[2016-03-01 23:59] azhe825 commented on #31
Strange result with NB. Need to look into it.  SMOTE+NB causes sth wrong.

[2016-03-02 02:55] dichen001 commented on #31
@azhe825  removed NB. Cannot find out why.  Use DT instead, and it performs good.

[2016-03-02 14:56] #14 closed, assigned to azhe825

[2016-03-02 15:09] azhe825 opened #34 "March report"
See:

https://github.com/azhe825/CSC510/blob/master/report/Mar/Mar%201st%20Report.md

Create your own report in the same folder and add links

[2016-03-02 16:15] #9 closed, assigned to jerry-shijieli

[2016-03-02 16:16] #18 closed, assigned to nobody

[2016-03-02 16:17] #21 closed, assigned to nobody

[2016-03-02 16:17] #23 closed, assigned to nobody

[2016-03-02 16:17] #28 closed, assigned to nobody

[2016-03-02 16:17] #24 closed, assigned to nobody

[2016-03-02 16:17] #25 closed, assigned to nobody

[2016-03-02 16:18] #26 closed, assigned to nobody

[2016-03-02 16:33] azhe825 opened #35 "Dont forget to close your issue after finished"
Otherwise milestones would not be finished

[2016-03-02 16:49] #10 closed, assigned to amritbhanu

[2016-03-02 16:52] amritbhanu opened #36 "Use LDA features"
Use the LDA feature scores rather than tf scores to feed into the classifier.

[2016-03-02 16:54] amritbhanu opened #37 "Combine all 3 solutions"

[2016-03-02 16:55] amritbhanu opened #38 "Build Simple GUI"
Simple GUI can be built using python tkinter library

[2016-03-02 16:56] amritbhanu opened #39 "Testing"
- [ ] Testing with GUI.
- [ ] User case study as well

[2016-03-02 16:58] amritbhanu opened #40 "Apr 1 report"
Watch out for deliverables details on this [page](http://se16.unbox.org/project/apr1.md)

[2016-03-02 21:51] amritbhanu opened #41 "Multi label Lda Results"
## Results with multi labels for each user.

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda_beck-s.txt.png?raw=true)

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda_farmer-d.txt.png?raw=true)

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda_kaminski-v.txt.png?raw=true)

![file](https://github.com/azhe825/CSC510/blob/master/Results/lda_kitchen

[2016-03-03 01:09] #12 closed, assigned to dichen001

[2016-03-03 01:10] #16 closed, assigned to nobody

[2016-03-03 01:10] #17 closed, assigned to nobody

[2016-03-03 01:10] #19 closed, assigned to nobody

[2016-03-03 01:11] #20 closed, assigned to nobody

[2016-03-04 15:32] amritbhanu opened #42 "mailers"
- Procmail
- mutt
- cursor based email
- elm
- coraider

[2016-03-04 15:37] amritbhanu commented on #42
prcomail - http://www.linuxfromscratch.org/blfs/view/svn/basicnet/procmail.html

[2016-03-04 16:18] amritbhanu opened #43 "Features"
Features
- Multilabels to each email

Need to add more

[2016-03-04 16:18] amritbhanu opened #44 "Methods"
- Incremental
- Non Incremental

Need to add more

[2016-03-04 16:19] amritbhanu commented on #42
http://lifehacker.com/5574557/how-to-use-the-fast-and-powerful-mutt-email-client-with-gmail

[2016-03-04 16:20] amritbhanu commented on #38
https://wiki.python.org/moin/TkInter

[2016-03-04 21:58] jerry-shijieli opened #45 "Project Presentation Date in April"
Check the registration link:
https://docs.google.com/spreadsheets/d/1SXVedXWhhpPkiVyrPAni-wF-B9hIr5xiYwsTCLMN58Q/edit#gid=0

[2016-03-04 22:13] amritbhanu commented on #45
Time slot looks good

[2016-03-04 22:29] dichen001 commented on #45
Great.

[2016-03-05 00:03] azhe825 commented on #45
Fine with it.

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-03-06 07:00] amritbhanu opened #46 "1st look of GUI"
Suggestions please?

![file](https://github.com/azhe825/CSC510/blob/master/GUI/1stlook.png?raw=true)

[2016-03-06 15:07] jerry-shijieli commented on #46
How about aligning the buttons vertically in one column?

[2016-03-06 22:46] amritbhanu commented on #46
More Suggestions?
- Someone pull the code and run the GUI/Gui.py code. Most of the buttons functionality is working. Just the "Move" button needs to be implemented.
- Structure of the file is :

[code]
- That file can be found in Mails/struct.txt

![file](https://github.com/azhe825/CSC510/blob/master/GUI/2ndlook.png?raw=true)

[2016-03-09 03:02] dichen001 commented on #46
Instead of having two box of Unread and Read, how about use the traditional email layout? Also, I think it would be better if you can put the buttons on the left to the above or bottom horizontally.(Just like a common email client :smile:

[2016-03-11 13:44] azhe825 commented on #46
What tool are you using?

[2016-03-11 13:44] #15 closed, assigned to nobody

[2016-03-11 19:42] amritbhanu commented on #46
@dichen001 does the UI matter much? Because we got to stick with just basic functionalities.

@azhe825 Tkinter python package

[2016-03-17 12:36] azhe825 opened #47 "Implicit user feedback"
Collect user feedback from user activities. Use it to retrain the models.

[2016-03-17 12:40] azhe825 opened #48 "Multi-label classification"
Motivation: in case of missing important emails, each email can appear in multiple folders.

Solution: multi-label classification. Each folder has an independent classifier which predicts probability. If the probability exceeds a certain threshold,  email will appear in that folder.

Possible problems: 1. choose the thresholds 2. data logic in GUI should allow this change.

[2016-03-17 12:45] azhe825 opened #49 "Explicit user feedback"
Motivation: inspired by active learning.

Solution: Emails that do not pass any of the threshold (See #48) will appear in a specific pre-defined folder called Uncertain which requires the user to decide the correct folder the emails should go to.

Comments: not much work to do. Please work with @dichen001 on #48 and #49, these two are strongly connected.

[2016-03-17 12:49] azhe825 opened #50 "GUI modification"
See #47 #48 #49, make changes to allow and facilitate all these features.

[2016-03-17 12:49] azhe825 opened #51 "Tasks for about two weeks"
Features need to incorporate with GUI:
- #47 implicit user feedback
- #48 multi-label classification
- #49 explicit user feedback

For these features, code up functions that can be called in GUI.

GUI:
- #50 change GUI design to allow #47 #48 #49

[2016-03-17 13:51] jerry-shijieli commented on #49
Ok, and I am also considering to build the GUI on a webpage using HTML and JS in the pattern of MVC. It will share the same data and results with that of @amritbhanu but facilitates the web and mobile use. Just basic functions to show our workflow are enough. And also it may be easier to convert web code to a mobile app using [PhoneGap](http://phonegap.com/getstarted/) if time permits.

[2016-03-17 14:10] azhe825 commented on #49
Great! But don't be too ambitious... Focus on webpage based first.

[2016-03-18 12:34] azhe825 commented on #50
@amritbhanu Need your help to combine code with GUI. When are you available? Better in the lab.

[2016-03-18 13:30] amritbhanu commented on #50
Yes i will be available between 12 - 4.

[2016-03-18 13:37] azhe825 commented on #50
I may be in the lab after 3pm

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-03-28 17:50] amritbhanu opened #52 "Error"
https://github.com/azhe825/CSC510/blob/master/GUI/Gui_support.py#L105

^^current_folder is not global and neither in the local space.

[2016-03-28 18:38] #52 closed, assigned to azhe825

[2016-03-31 21:50] amritbhanu opened #53 "Solutions"
For the demo,
- We need 1 implict feedback method
- We need 1 no feedback method
- Multilabels.

On users click, we can enable some of them and close them.
For differentiating between the above methods, we will keep charts on a large dataset for our reference to show it to peers.

[2016-03-31 21:51] amritbhanu opened #54 "Availability?"
What is the suitable time for everyone to meet in the lab sometime tomorrow between 12 to 4?

I am available all the time between the above.

[2016-03-31 21:52] dichen001 commented on #54
After 2pm, then I will be free.

[2016-03-31 22:07] jerry-shijieli commented on #54
I am available for all time interval. Thanks!

[2016-03-31 22:35] azhe825 commented on #54
anytime

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-04-01 16:22] amritbhanu commented on #54
Jerry, we can meet around now itself. And jack can join us later.

[2016-04-01 16:23] amritbhanu opened #55 "an error"
https://github.com/azhe825/CSC510/blob/master/GUI/Gui.py#L368

Error thrown is at the above line:

[code]

[2016-04-01 20:13] azhe825 commented on #55
fixed that

[2016-04-01 20:14] azhe825 commented on #55
@amritbhanu Need your help on GUI, can you come to the lab tomorrow?

[2016-04-01 20:21] amritbhanu commented on #55
Will you be in lab after 5 today? I will come back.
Else if it is possible we can discuss over hangouts for those problems.

[2016-04-01 22:17] azhe825 commented on #55
Sure, then tomorrow with hangout. Are you available around 10am?

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-04-01 22:28] amritbhanu commented on #55
yes talk to you at 10am

Amritanshu Agrawal
PhD Student
CS @ NC State
aagrawa8@ncsu.edu
http://amritag.wix.com/amrit http://ai4se.net/people/

On Fri, Apr 1, 2016 at 6:17 PM, Zhe Yu notifications@github.com wrote:

[2016-04-02 15:45] amritbhanu opened #56 "Sections of Final Report"
What will be the sections and who will be doing those sections? Lets comment here.

[2016-04-02 21:36] #54 closed, assigned to nobody

[2016-04-02 21:36] #51 closed, assigned to nobody

[2016-04-02 21:36] #50 closed, assigned to amritbhanu

[2016-04-02 21:37] #49 closed, assigned to jerry-shijieli

[2016-04-02 21:37] #47 closed, assigned to azhe825

[2016-04-02 21:37] #48 closed, assigned to dichen001

[2016-04-02 21:37] #53 closed, assigned to nobody

[2016-04-02 21:37] #37 closed, assigned to nobody

[2016-04-02 21:37] #38 closed, assigned to nobody

[2016-04-02 21:37] #29 closed, assigned to nobody

[2016-04-02 21:38] #42 closed, assigned to nobody

[2016-04-02 21:38] #39 closed, assigned to nobody

[2016-04-02 23:06] dichen001 opened #57 "Actions to the March Feedback?"
1 please move data to seperate repo so we can see your coding work seperate to data set up dates.
- [ ] **Should we create a new repo to migrate the data?** #58

2 please use github more to organize your group work.

3 please have a broader range of options (e.g. different learning types are not option1 or option2 but "use implicit feedback" is an option vs "use explicit feedback" vs "use no feedb

[2016-04-02 23:08] dichen001 opened #58 "Data Immigration?"
I found this [link](http://st-on-it.blogspot.com/2010/01/how-to-move-folders-between-git.html) helpful to do this job. Click if you think we should immigrate the data.
- [ ] Amrit
- [x] Jack
- [ ] Jerry
- [ ] Zhe

[2016-04-02 23:16] dichen001 commented on #56
I just put some points I can think of. Please add more.
1. Easy Demonstration for different features of our Email Client.  (Making several gif. format demo)
2. BEAUTIFUL results summary using d3.js?
3. Maybe we could also make some survey on Mechanical Turk to get some data to back up our design?

[2016-04-03 00:24] dichen001 commented on #48
Use one multi-class classifier, or use multiple binary classifiers?  Wouldn't the first be better? What's your opinion? @azhe825

[2016-04-03 03:28] azhe825 commented on #48
It is the first option that are utilized in our current code.

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-04-04 04:42] jerry-shijieli opened #59 "WebUI for mobile devices"
Hi All:

I am trying to make a [Web and Mobile UI](https://github.com/azhe825/CSC510/tree/master/EmailGeneratorAndWebUI) using HTML and JS, but the javascript has so many limitations in functions. So it is still in construction. I will try to import some python code later. If you know JS, feel free to make changes. The current problem is that JS cannot read files in local folder for security reaso

[2016-04-04 18:22] #55 closed, assigned to azhe825

[2016-04-04 18:23] #41 closed, assigned to nobody

[2016-04-04 18:23] #36 closed, assigned to nobody

[2016-04-04 18:24] #46 closed, assigned to nobody

[2016-04-04 18:25] azhe825 opened #60 "Need one more function"
Add one button for incoming new emails

[2016-04-05 22:38] amritbhanu commented on #60
@azhe825
Issue in line 80? [link](https://github.com/azhe825/CSC510/blob/master/GUI/Gui3.py#L80)
What parameter need to be set for this?

[code]

[2016-04-06 13:31] jerry-shijieli opened #61 "Need a login pop-up window for general use"
We need one pop-up window to obtain user's loginID and password of Gmail account to test on real case and get feedback.  I will modify the emailReceiver.py into functions to insert into the GUI and use the new mail button for that function.

[2016-04-06 13:31] azhe825 commented on #60
fixed that

[2016-04-06 13:31] #60 closed, assigned to amritbhanu

[2016-04-06 13:34] #45 closed, assigned to nobody

[2016-04-06 13:34] #44 closed, assigned to nobody

[2016-04-06 13:34] #43 closed, assigned to nobody

[2016-04-06 13:34] #34 closed, assigned to nobody

[2016-04-07 01:21] azhe825 commented on #40
Collected everything we can reuse from Feb report, basic structure is also defined.

Please see the temp pdf file [here](https://github.com/azhe825/CSC510/blob/master/report/April_temp.pdf)

Work on things you think can be done separately first. Discuss and combine things together tomorrow. Worried about if we can finish this report by tomorrow... Maybe should create a md file first.

[2016-04-07 01:32] jerry-shijieli commented on #40
Could you also upload the latex file of this pdf?

[2016-04-07 01:46] azhe825 commented on #40
@imaginationsuper you can work on sharelatex, right now you are shared with it. It is the April.tex in CSC 510 in sharelatex.

[2016-04-07 01:54] dichen001 commented on #40
@azhe825  why can't I see that? Below are all I can see.
![image](https://cloud.githubusercontent.com/assets/15117843/14338107/22e20a2a-fc42-11e5-80ea-3978129d4e02.png)

[2016-04-07 02:15] azhe825 commented on #40
Cause u r not shared... Can only have one person shared at a time... It's the free version

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-04-07 02:18] jerry-shijieli commented on #40
I will work on it soon tonight and then you can share with others.

[2016-04-07 02:18] dichen001 commented on #40
Oh... Got it. Keep me updated.

[2016-04-07 02:21] jerry-shijieli commented on #61
@amritbhanu I have difficulty to link login pop-up window with the corresonding function, if you have time please check GUI5.py for that function. Also right button option was changed for mac interface, please check if it works for windows.

[2016-04-07 02:30] #59 closed, assigned to nobody

[2016-04-07 03:05] jerry-shijieli commented on #40
@azhe825 I just edited my part so far. Please shift the sharelatex to @dichen001

[2016-04-07 03:14] azhe825 commented on #40
@dichen001 you have the ball now

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-04-07 03:21] dichen001 commented on #40
Got it. Thanks.

[2016-04-07 04:31] dichen001 commented on #40
hi @azhe825 , just finished the supervised part, you can pass the ball to @amritbhanu

[2016-04-07 04:36] amritbhanu commented on #61
right button option is working.
I will add that function

[2016-04-07 04:37] dichen001 commented on #40
Hi @amritbhanu, cause I cannot share the original one to you. I shared my copy to you, so you can work on that, then merge with @azhe825 's version later.

[2016-04-07 04:37] amritbhanu commented on #40
got a copy of the report from jack! Thanks

[2016-04-07 13:47] amritbhanu commented on #61
@imaginationsuper i have updated the gui5. Please see the gmail login error. Once it works, we can see if its retrieving unread mails or not. and so on.

[2016-04-07 20:53] amritbhanu commented on #40
jack, did you remove sharing of report? I still had to complete the GUI part

[2016-04-07 21:06] dichen001 commented on #40
sorry, just resend you the link.

[2016-04-07 21:19] amritbhanu commented on #40
done jack! You can share this back with zhe. We can combine them now.

[2016-04-07 21:45] amritbhanu commented on #40
@azhe825
For unsupervised learning section, I made some changes in the wordings. Add this again. Images will remain the same.

[code]

[2016-04-07 21:47] amritbhanu commented on #40
for GUI Part,
Copy the image from https://github.com/azhe825/CSC510/blob/master/GUI/FinalPic.png

[code]

[2016-04-07 22:05] azhe825 commented on #40
ok

Best Regards,
Zhe,
Ph.D. scholar @ CS, NcState
http://azhe825.github.io

[2016-04-07 23:07] dichen001 commented on #40
shared to @azhe825 now.

[2016-04-08 03:08] dichen001 commented on #40
make a new copy for the latest version of our report. Please check. @amritbhanu

[2016-04-08 03:20] amritbhanu commented on #40
Just checked the report, and this looks good. I think we have covered most of the points which we wanted to convey

[2016-04-08 03:53] #40 closed, assigned to nobody

[2016-04-08 03:53] #56 closed, assigned to nobody

[2016-04-15 03:01] jerry-shijieli opened #62 "Presentation slides"
The project presentation slides can be found in this [Google Slide](https://docs.google.com/presentation/d/1bjKVerwklERpRMroAMjVjfoHj5rjKsuiojD_mA2-Lg4/edit?pli=1#slide=id.p). It is shared with your unityID@ncsu.edu
Please add your part and feel free to make changes.

[2016-04-18 01:36] dichen001 opened #63 "First Demo on Youtube now. Check it out!"
Hi guys, after spending hard time learning how to edit movies, I finally made our first demo....  💥 😎

Check this youtube [link](https://youtu.be/Sn1lAosQ9-I).

Comment below if you have any suggestions. Thanks.

[2016-04-18 01:55] jerry-shijieli commented on #63
Good job! 👍

[2016-04-19 14:13] amritbhanu commented on #62
1 future improvement slide needs to be put up.

[2016-04-19 18:57] #61 closed, assigned to amritbhanu

[2016-04-19 18:57] #58 closed, assigned to dichen001

[2016-04-19 18:57] #57 closed, assigned to nobody

[2016-04-19 18:58] #35 closed, assigned to nobody

[2016-04-19 18:58] #7 closed, assigned to nobody

[2016-04-19 18:58] #27 closed, assigned to nobody

[2016-04-19 18:58] #30 closed, assigned to nobody

[2016-04-19 18:58] #31 closed, assigned to dichen001

[2016-04-19 18:58] #32 closed, assigned to amritbhanu

[2016-04-19 18:58] #33 closed, assigned to nobody

[2016-04-22 18:48] azhe825 opened #64 "May 1 project: badsmell"
- Start working in folder: BadSmell/
- Have got gitable.py running for dumping our group issues. Line 93 in gitable.py is used to determine which repo to be dumped:

[code]
- Need to discuss about badsmells.

[2016-04-22 20:06] azhe825 commented on #64
Have all the issues dumped and masked, in BadSmell/dump/ folder

[2016-04-24 20:02] azhe825 commented on #64
I guess everyone is busy in the end of semester, but please spend some time on BadSmell/dump/logs and extract as many small features as you can.

[2016-04-25 15:54] amritbhanu commented on #64
The dumps are very hard to understand. Is there any link which talks about this dump? Else we have to meet to decide on this.

[2016-04-25 18:30] azhe825 commented on #64
I will be at lab after 2pm or 2:30pm Tuesday. It would be better for us to meet and discuss it.

[2016-04-25 18:50] amritbhanu commented on #64
Yes lets meet tomorrow during that time.

[2016-04-25 19:07] jerry-shijieli commented on #64
Ok, I will be there that time.

[2016-04-25 19:23] dichen001 commented on #64
NP. I will see you guys then.

On Mon, Apr 25, 2016 at 2:50 PM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-04-26 19:03] azhe825 opened #65 "CSV file generate"
First Step, extract following data:

Each group:
- activity for user i (rule out timm and TA) (timm is user19)
- activity for label m (number of issues having label m, total number of actions of issues having label m)
- activity for milestone k (same as label)
- activity for issue n
- activity for day j

The above information should be extracted for each month.
Jan 2st to Feb 1st, Feb 2nd to Mat 1

[2016-04-26 19:15] dichen001 commented on #65
each row:
< group ID, user ID, Date, Issue (1 or 0), I Action, I Assignee, Issue (???),...,
Milestone (1 or 0), M Action,  M Related Issues, Milestone (???)...
Commit (1 or 0), C Line Num, Commit (???)
Comment (1 or 0),  Comment Line Num, Comment (???)>

[2016-04-27 12:48] azhe825 opened #66 "Type of badsmells"
1. delayed delivery
2. High variance on user activity (remember to exclude the instructor and TA)
3. Leader detector, most issues are created by the same user?
4. distribution of commits weekly, monthly... wait until the last day? offline working?
5. lack of online communication. frequency of issues, replies. response time
   ...

[2016-04-29 01:31] amritbhanu opened #67 "First csv file generated"
Here is the file https://github.com/azhe825/CSC510/blob/master/BadSmell/results/features.csv

any comments?

[2016-04-29 01:37] jerry-shijieli commented on #67
Next is to list the activities by class for each as described in #65
I am also trying the codes in the example to organize the dump data.

[2016-04-29 04:34] amritbhanu commented on #67
I have done the first bullet point of that. We can make use of similar structure to retrieve other details.

[2016-04-29 04:49] dichen001 commented on #67
Preparing the tomorrow's exam. Will start tomorrow morning after the exam.

On Fri, Apr 29, 2016 at 12:34 AM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-04-29 14:47] jerry-shijieli commented on #67
I just modified the example code to extract the repos into database files. It can be viewed using sqlite3. The group index is consistent with the order in our repos.txt. I am writing code to split and convert them into csv files.

[2016-04-29 15:38] jerry-shijieli commented on #67
I have uploaded the csv files into this [folder](https://github.com/azhe825/CSC510/tree/master/BadSmell/dataCollectionInCSV) using this [code](https://github.com/azhe825/CSC510/blob/master/BadSmell/db_2_csv.py). But there is some character issues to fix. It should not affect too much, but I will try to fix that.

[2016-04-29 15:40] jerry-shijieli commented on #67
I forgot to mask the user names, and will also fix that.

[2016-04-29 19:10] azhe825 commented on #67
Have you all finished exams except 510? It would be better if we can work together in the lab for the following days.

[2016-04-29 20:36] dichen001 commented on #67
Yes. That's my plan. I'll work for this in the following days.

[2016-04-29 20:43] jerry-shijieli commented on #67
Good! I am available.

[2016-04-29 20:46] amritbhanu commented on #67
We can work! When are we meeting tomorrow?

[2016-04-29 20:56] dichen001 commented on #67
I'll be there after getting up until go to bed 😉. So anytime is fine.

On Fri, Apr 29, 2016 at 4:46 PM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-04-29 21:11] azhe825 commented on #67
Will try to stay in the lab whole days... except nights

[2016-04-29 21:14] amritbhanu commented on #67
Ok will get there by 11.

For time being what else is needed? Anyone else is working on extracting the other features.

[2016-04-30 01:13] dichen001 commented on #67
Yes. I am extracting the features for issues.

[2016-04-30 01:16] dichen001 commented on #65
For these time mentioned above, what are the numbers in seconds (the time represented in the csv files) accordingly?
Jan 2st to Feb 1st, Feb 2nd to Mat 1st, Mat 2nd to April 1st, April 2nd to May 1st.

[2016-04-30 01:21] jerry-shijieli commented on #65
Usually that time counts from the year 1970. You can google database time expression.

[2016-04-30 01:40] jerry-shijieli commented on #65
To convert time in seconds to date time in python, check:
http://stackoverflow.com/questions/3694487/python-initialize-a-datetime-object-with-seconds-since-epoch

[2016-04-30 01:40] dichen001 commented on #65
Thanks!

[2016-04-30 02:08] dichen001 commented on #65
Use this dict to divide the features into month time range:
`{'jan': 1451606400, 'feb': 1454284800, 'mar': 1456790400, 'apr': 1459468800, 'mar': 1462060800}`

each number above is the first day of that month

[2016-04-30 16:44] dichen001 opened #68 "Feature you are working on..."
[reference report](https://github.com/CSC510-2015-Axitron/project2)

Please update directly from here for the feature you are working on:
Everyone can check here before you working on a feature. Please update after you completed.
- Jack:
  - (1) Long Open Issues 👌
  - (2) Issues Delay for its Milestone Due date 👌
  - (3) Issues Closed Long Before Milstone Due ❌  (give up, not a good feature)
  - (

[2016-04-30 19:08] dichen001 commented on #68
- @imaginationsuper
  - (10) Commit History Linearity 👌
  - number of issues per group 👌
  - (9) Nonlinear Progress Momentum (milestone delay) 👌
  - Poor milestone usage

[2016-04-30 19:08] dichen001 commented on #68
- @amritbhanu
  - No of actions associated per users. 👌
  - Issues without labels and milestones 👌

[2016-04-30 19:08] dichen001 commented on #68
- @azhe825
  - leader detector
  - lack of online communication

[2016-04-30 19:38] azhe825 commented on #65
March 3rd, 1457049600 for early detection
April 7th, 1460073600 for overall badsmell

[2016-04-30 21:37] azhe825 opened #69 "Data updated"
Use dataCollectionInCSV_last/ for badsmelling
Use dataCollectionInCSV_early/ for early detection

[2016-05-01 05:19] dichen001 commented on #66
@azhe825 @amritbhanu @imaginationsuper  Please Do Check All the links here.
get all the BadSmell score for [Poor Communication](https://github.com/CSC510-2015-Axitron/project2#poor-communication), which is the first part in the "**8. Bad Smells Detector**" section of the sample report.

Score.csv is saved here [BadSmell/badSmellScoreCSV](https://github.com/azhe825/CSC510/blob/master/BadSmell/badSm

[2016-05-01 13:36] jerry-shijieli commented on #66
It is better to use percentage of total number of users participating in a group instead of <3 and <4, since not all groups have the same number of members.

[2016-05-01 14:08] dichen001 commented on #66
I think every group is restricted to 4 members. Are the extra members TA and Tim?

[2016-05-01 14:39] dichen001 commented on #66
- [x] [Poor Communication](https://github.com/CSC510-2015-Axitron/project2#poor-communication) 👌
- [ ] [Poor Milestone Usage](https://github.com/CSC510-2015-Axitron/project2#poor-milestone-usage) @imaginationsuper  is woking on this
- [x] [Absent Group Member](https://github.com/CSC510-2015-Axitron/project2#absent-group-member) @dchen20 👌
- [ ] [Poor Planning](https://github.com/CSC510-2015-Axitro

[2016-05-01 15:43] amritbhanu commented on #66
I wont be able to come to the lab. Its raining and walking will be a mess. Has anyone started on the report?

[2016-05-01 16:26] dichen001 commented on #66
No. Haven't.  getting badsmell scores now.

[2016-05-01 17:47] dichen001 opened #70 "Final Report"
Most of the BadSmells are extracted.  I believe we need to start writing the report and making some figures.

It should be at least 8 pages with double-column as required.

Anyone has started?

[2016-05-01 18:03] dichen001 commented on #66
@imaginationsuper  I just manually copy paste all the bad smell score into one csv file. Please add your part when finish.

here is the [summary csv file](https://github.com/azhe825/CSC510/blob/master/BadSmell/badSmellScoreCSV/allBadSmell.csv) for all the bad smell score at the moment.

[2016-05-01 18:42] azhe825 commented on #70
working on introduction